<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435761286199-13vfjk334f7fumuhcff8fgm460uavcth.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435761286199-13vfjk334f7fumuhcff8fgm460uavcth</string>
	<key>API_KEY</key>
	<string>AIzaSyDSi6YShsEbStQxqBb7nPoVuW-qPQqLoRE</string>
	<key>GCM_SENDER_ID</key>
	<string>435761286199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.twitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-d5868</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-d5868.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435761286199:ios:a962c899972ef5859503b2</string>
</dict>
</plist>